/*
Error: File to import not found or unreadable: foundation/functions.
       Load paths:
         Compass::SpriteImporter
         /Applications/MAMP/htdocs/corporate-2015/scss
         /Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets
        on line 105 of /Applications/MAMP/htdocs/corporate-2015/scss/_settings.scss
        from line 2 of /Applications/MAMP/htdocs/corporate-2015/scss/base.scss
        from line 1 of /Applications/MAMP/htdocs/corporate-2015/scss/./app.scss

Backtrace:
/Applications/MAMP/htdocs/corporate-2015/scss/_settings.scss:105
/Applications/MAMP/htdocs/corporate-2015/scss/base.scss:2
/Applications/MAMP/htdocs/corporate-2015/scss/./app.scss:1
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `each'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/joeb/.rvm/gems/ruby-2.1.4/bin/compass:23:in `load'
/Users/joeb/.rvm/gems/ruby-2.1.4/bin/compass:23:in `<main>'
/Users/joeb/.rvm/gems/ruby-2.1.4/bin/ruby_executable_hooks:15:in `eval'
/Users/joeb/.rvm/gems/ruby-2.1.4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: foundation/functions.\A        Load paths:\A          Compass::SpriteImporter\A          /Applications/MAMP/htdocs/corporate-2015/scss\A          /Users/joeb/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets\A         on line 105 of /Applications/MAMP/htdocs/corporate-2015/scss/_settings.scss\A         from line 2 of /Applications/MAMP/htdocs/corporate-2015/scss/base.scss\A         from line 1 of /Applications/MAMP/htdocs/corporate-2015/scss/./app.scss"; }
