*.DS_Store
.sass-cache
/backup
/design
/dist
/doc
/node_modules
/src/*.php
!/src/index.php
!/src/modules/*.php
/src/.sass-cache
/src/bower_components
/src/css
/src/js/vendor/bower.js
/src/img/*
!/src/img/css/
/test
/tmp
