// Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin accordion-button() {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    background: $accordion-navigation-bg-color;
    color: $accordion-navigation-font-color;
    font-size: $accordion-navigation-font-size;
    line-height: rhythm(1);
    padding-top: rhythm(0.5) + rem-calc(2); // fix vertical alignment of text
    padding-bottom: rhythm(0.5) - rem-calc(2);
    padding-left: ($column-gutter/2);
    padding-right: ($column-gutter/2);
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    @include box-shadow($default-shadow);
    @include transition(background-color 0.25s, color 0.25s);
    &:hover, &:focus {
        @include accordion-button-active;
    }
    &:after {
        @include fa-icon;
        content: $fa-var-ellipsis-v;
        color: inherit;
        float: right;
    }
}
@mixin accordion-button-active() {
    background: $accordion-navigation-hover-bg-color;
}

@mixin accordion-content() {
    padding: $accordion-content-padding;
    background: $accordion-content-active-bg-color;
    color: $default-font-color;
    line-height: 1.25;
    position: relative;
    z-index: 1; // overlap .accordion-direct-link ;P
    @include box-shadow($default-shadow);

    h1, h2, h3, h4, h5, h6 {
        color: $default-header-font-color;
    }
    code {
        color: $default-font-color;
    }
    a {
        color: $default-link-font-color;
    }
    .button {
        background: $secondary-color;
        border: 1px solid $default-border-color;
        display: block;
        line-height: rhythm(1);
        padding-top: rhythm(0.25);
        padding-bottom: rhythm(0.25);
        margin: 0;
        @include transition(background-color 0.25s);
        &, &:hover, &:focus {
            color: $default-link-font-color;
        }
        &:hover, &:focus {
            background-color: $secondary-button-bg-hover;
        }
    }
}

@mixin accordion-button-invert() {
    background-color: $secondary-color;
    color: $anchor-font-color;
    &:hover, &:focus {
        @include accordion-button-active-invert;
    }
}
@mixin accordion-button-active-invert() {
    background-color: $secondary-button-bg-hover;
    color: $anchor-font-color-hover;
}
@mixin accordion-content-invert() {
    border-top: 1px solid $default-border-color;
}

@mixin accordion-list() {
    list-style: none;
    line-height: inherit;
    margin-left: -$accordion-content-padding;
    margin-right: -$accordion-content-padding;
    margin-top: 0;
    margin-bottom: $default-bottom-margin;
    > li {
        padding: $accordion-content-padding;
        border-bottom: 1px solid $default-border-color;
        &:first-child {
            border-top: 1px solid $default-border-color;
        }
        > a {
            margin: -$accordion-content-padding;
        }
    }
}
@mixin accordion-button-child() {
    margin: 0;
    text-transform: none;
    font-size: 1rem;
    @include box-shadow(none);
    &:hover, &:focus {
        color: $anchor-font-color-hover;
    }
    &:after {
        content: $fa-var-chevron-down;
    }
    .active > a:after {
        content: $fa-var-chevron-up;
    }
}
@mixin accordion-content-child() {
    @include box-shadow(none);
}

// standard accordion
.accordion {
    .accordion-navigation, dd {
        position: relative;
        > a {
            @include accordion-button;
        }
        > .content {
            @include accordion-content;
            ul {
                margin-bottom: rhythm(1);
            }
            > :first-child,
            > :first-child > :first-child {
                margin-top: 0;
            }
            > :last-child, 
            > :last-child > :last-child {
                margin-bottom: 0;
            }
        }
    }
}

// direct link
.accordion-direct-link {
    top: 0;
    left: 0;
    bottom: 0; // stretch height of parent container
    z-index: 1;
    width: rem-calc(48);
    border-right: 1px solid rgba($white, 0.5);
    margin-right: $column-gutter / 2;
    text-align: center;
    .accordion .accordion-navigation > & {
        position: absolute;
        & + a {
            padding-left: rem-calc(48 + 12);
        }
        &:after {
            display: none; // hide ellipses
        }
    }
    [class*="block-grid-"] > li & {
        left: $block-grid-default-spacing / 2;
        bottom: $block-grid-default-spacing;
    }
}

// inverted colors
.accordion-invert {
    .accordion-navigation, dd {
        > a, &.active > a {
            @include accordion-button-invert;
        }
        > .content {
            @include accordion-content-invert;
        }
    }
    .accordion-direct-link {
        border-right: 1px solid $default-border-color;
    }
}

// child accordion list
.accordion .accordion, 
.accordion-list {
    @include accordion-list;
}

.accordion .accordion {
    @extend .accordion-invert;
    .accordion-navigation, dd {
        padding: 0;
        > a {
            @include accordion-button-child;
        }
        > .content {
            @include accordion-content-child;
        }
    }
}
