// Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin accordion-content-children() {
    li {
        padding: rem-calc(2) 0;
    }
    ul.accordion-list, .accordion {
        @include accordion-list;
    }
    .button {
        background: $secondary-color;
        border: 1px solid $default-border-color;
        display: block;
        line-height: rhythm(1);
        padding-top: rhythm(0.25);
        padding-bottom: rhythm(0.25);
        margin: 0;
        @include transition(background-color 0.25s);
        &, &:hover, &:focus {
            color: $default-link-font-color;
        }
        &:hover, &:focus {
            background-color: $secondary-button-bg-hover;
        }
    }
}

@mixin accordion-list() {
    list-style: none;
    line-height: inherit;
    margin-left: -$accordion-content-padding;
    margin-right: -$accordion-content-padding;
    margin-top: 0;
    margin-bottom: $default-bottom-margin;
    border-top: 1px solid $default-border-color;
    border-bottom: 1px solid $default-border-color;
    > li {
        padding: $accordion-content-padding;
        border-top: 1px solid $default-border-color;
        &:first-child {
            border-top: none;
        }
    }
    &:first-child {
        border-top: none;
        > li:first-child {
            padding-top: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        > li:last-child {
            padding-bottom: 0;
        }
    }
}

// standard accordion
.accordion {
    .accordion-navigation, dd {
        position: relative;
        > a {
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            line-height: rhythm(1);
            padding-top: $accordion-navigation-padding + rem-calc(2);
            padding-bottom: $accordion-navigation-padding - rem-calc(2);
            @include box-shadow($default-shadow);
            @include transition(background-color 0.25s, color 0.25s);
            &:after {
                @include fa-icon;
                content: $fa-var-ellipsis-v;
                color: inherit;
                float: right;
            }
        }
        &.active > a {
            @include box-shadow(none);
        }
        > .content {
            line-height: 1.25;
            &.active {
                position: relative;
                z-index: 1; // overlap .accordion-direct-link ;P
                @include box-shadow($default-shadow);
            }
            @include accordion-content-children;
        }
    }
}

// direct link
.accordion-direct-link {
    top: 0;
    left: 0;
    bottom: 0; // stretch height of parent container
    z-index: 1;
    width: rem-calc(48);
    border-right: 1px solid rgba($white, 0.5);
    margin-right: $column-gutter / 2;
    text-align: center;
    .accordion .accordion-navigation > & {
        position: absolute;
        & + a {
            padding-left: rem-calc(48 + 12);
        }
        &:after {
            display: none; // hide ellipses
        }
    }
    [class*="block-grid-"] > li & {
        left: $block-grid-default-spacing / 2;
        bottom: $block-grid-default-spacing;
    }
}

// inverted colors
.accordion-invert {
    .accordion-navigation, dd {
        > a, &.active > a {
            background-color: $secondary-color;
            color: $anchor-font-color;
            &:hover, &:focus {
                background-color: $secondary-button-bg-hover;
                color: $anchor-font-color-hover;
            }
        }
        > .content {
            border-top: 1px solid $default-border-color;
            color: $default-font-color;
        }
    }
    .accordion-direct-link {
        border-right: 1px solid $default-border-color;
    }
    .accordion {
        .accordion-navigation, dd {
            > a, &.active > a {
                &, &:hover, &:focus {
                    background-color: transparent;
                }
            }
            > .content {
                &.active {
                    border-top: none;
                }
            }
        }
    }
}

// child accordion
.accordion .accordion {
    .accordion-navigation, dd {
        > a {
            text-transform: none;
            background: none;
            color: $default-link-font-color;
            font-size: 1rem;
            padding: 0;
            @include box-shadow(none);
            &:hover, &:focus {
                color: $anchor-font-color-hover;
            }
            &:after {
                @include fa-icon;
                content: $fa-var-chevron-down;
                color: inherit;
                float: right;
            }
        }
        &.active > a:after {
            content: $fa-var-chevron-up;
        }
        > .content {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            border: none;
            &.active {
                @include box-shadow(none);
            }
        }
    }
}
