@import "compass/support";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "settings";
@import "normalize";
@import "font-awesome";
@import "font";

// Foundation
// - - - - - - - - - - - - - - - - - - - - - - - - -

// @import "foundation"; // import everything
@import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/button-groups";
@import "foundation/components/buttons";
// @import "foundation/components/clearing";
@import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
// @import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switches";
@import "foundation/components/tables";
// @import "foundation/components/tabs";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// HTML, Body 
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include establish-baseline; // overrides Foundation

html {
    // @include debug-vertical-alignment;
}

html, body {
    height: auto;
    line-height: 1.5; // overrides Foundation
    -webkit-font-smoothing: antialiased;
}

// Headers
// - - - - - - - - - - - - - - - - - - - - - - - - -

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    a {
        font-weight: $font-weight-light;
        text-decoration: none;
        text-transform: none;
    }
    &:first-child {
        margin-top: 0;
    }
}
h4, h5, h6 {
    font-weight: normal;
    margin-bottom: $paragraph-margin-bottom;
    line-height: $default-line-height;
}
h5, h6 {
    text-transform: none;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.subheader {
    text-transform: none;
    &:first-child {
        margin-top: 0;
    }
}
.subheader-invert {
    color: $white;
}
p.subheader {
    font-size: $h3-font-size - $h3-font-reduction;
    @media #{$large-up} {
        font-size: $h3-font-size;
    }
}

// Block Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
    aside {
        font-weight: $font-weight-light;
    }
    &:last-child {
        margin-bottom: rhythm(1);
    }
}

pre {
    margin: $default-margin 0;
    background: $white;
    @include box-shadow($default-shadow);
}

blockquote {
    p {
        margin: 0;
    }
}

// Inline Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

small {
    font-size: 80%;
}

strong, b {
    color: $header-font-color;
}

// Hyperlinks
// - - - - - - - - - - - - - - - - - - - - - - - - -

a {
    @include transition(color 0.25s);
}
