// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$button-padding: 0.625rem 2rem 0.5rem;
$button-small-padding: rhythm(0.5) 1rem;

$button-line-height: 1.5em;
$button-small-line-height: 1.25em;

@mixin button-secondary() {
    background-color: $secondary-color;
    border-color: $secondary-button-border-color;
    color: $button-font-color-alt;
    &:hover, &:focus {
        background-color: $secondary-button-bg-hover;
        color: $button-font-color-alt;
    }
}

@mixin button-color($btn-color:false, $btn-border-color:false, $btn-text-color:false) {
    @if $btn-color {
        background-color: $btn-color;
    }

    @if $btn-border-color {
        border-color: $btn-border-color;
    } @else {
        border: none;
    }

    @if $btn-text-color {
        border-color: $btn-text-color;
    }

    &:hover, &:focus {
        background-color: scale-color($btn-color, $lightness: $button-function-factor);
        color: $btn-text-color;
    }
}

@mixin button-reset() {
    &, &:hover, &:focus {
        display: inline;
        padding: 0;
        background: none;
        border: none;
        color: inherit;
        line-height: 1.5;
        font-weight: normal;
        text-decoration: underline;
        @include box-shadow(none);
    }
}

.button {
    line-height: 1.5;
    @include box-shadow($default-shadow);
}

a.cta {
    @include button;
}

p, ul, ol, dl {
    + p .button {
        margin: rhythm(0.5) 0;
    }
}

.button-small {
    padding: $button-small-padding;
}

.button-outline,
.button-outline-invert {
    &, &:hover, &:focus {
        background: transparent;
        font-weight: 100;
    }
    @include box-shadow(none);
}

.button-outline {
    &, &:hover, &:focus {
        border: 1px solid $oil;
        color: $oil;
    }
}


.button-outline-invert {
    &, &:hover, &:focus {
        border: 1px solid $white;
        color: $white;
    }
}

.button-green {
    @include button-color($btn-color: $green);
}
.button-purple {
    @include button-color($btn-color: $purple);
}
.button-red {
    @include button-color($btn-color: $red);
}
.button-orange {
    @include button-color($btn-color: $orange);
}
.button-gold {
    @include button-color($btn-color: $gold);
}

.button-group {
    margin: rhythm(1) 0 rhythm(0.5);
    padding: 0;
    list-style: none;
    > li {
        display: inline-block;
        > .button {
            margin: 0 1rem rhythm(0.5) 0;
        }
    }
}
