// Feature
// - - - - - - - - - - - - - - - - - - - - - - - - -

.section-feature {
    padding: 0;
    overflow: hidden;
    > .row {
        @extend .row-wide;
        position: relative;
        > .column, > .columns {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.feature-caption {
    @extend .circle;
    @extend %vertical-align;
    @include box-shadow($default-shadow);
    @include text-shadow($default-shadow);
    position: absolute;
    width: rem-calc(360);
    height:  rem-calc(360); // 0;
    // padding-bottom: 100%;
    margin: 0 rem-calc(100) 0;
    background-color: rgba($darkgray, 0.9);
    color: $white;
    text-align: center;
    &.position-left {
        left: 0;
    }
    &.position-right {
        right: 0;
    }
    &.green-bg {
        background-color: rgba($green, 0.9);
    }
    &.blue-bg {
        background-color: rgba($blue, 0.9);
    }
    &.purple-bg {
        background-color: rgba($purple, 0.9);
    }
    &.red-bg {
        background-color: rgba($red, 0.9);
    }
    &.orange-bg {
        background-color: rgba($orange, 0.9);
    }
    &.gold-bg {
        background-color: rgba($gold, 0.9);
    }
}

.feature-caption-content {
    @extend %vertical-align;
    position: absolute;
    width: 100%;
    padding: 4rem;
    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
    .button, .button:hover, .button:focus {
        color: $white;
    }
}

.feature-caption-header {
    font-size: $h1-font-size;
    line-height: 1em;
    margin: 0 0 rhythm(1) 0;
    color: $white;
    text-transform: none;
}