// General Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsElement {
    position: relative;
    clear: both;
    background-color: $lightgray;
    padding: rhythm(1.5) 0;
    .fsElement {
        background-color: transparent;
        padding: 0;
    }
}

.fsElement > header,
.fsElementContent,
.fsElement > footer {
    @include grid-row();
    @include grid-column(24);
    float: none;
    .row {
        max-width: none;
        width: auto;
        margin: 0 -1rem; // not contrained by column
    }
}

@mixin fsElement-wide() {
    > header,
    .fsElementContent,
    > footer {
        max-width: 90rem;
    }
}

@mixin fsElement-full() {
    > header,
    .fsElementContent,
    > footer {
        max-width: none;
    }
}

.fsElement.section-wide {
    @include fsElement-wide();
}

.fsElement.section-full {
    @include fsElement-full();
}

// Content Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsContent.column, .fsContent.columns {
    padding-right: 0;
    padding-left: 0;
    clear: none;
}

// Container Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsContainer {
    > .fsElementContent {
        padding-right: 0;
        padding-left: 0;
    }
}

// Column Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsLayout {
    @include grid-row();
}

.fsDiv, .fsOneColumnLayout .fsDiv {
    @include grid-column($columns:24, $collapse:true);
}

@media #{$medium-up} {
    .fsTwoColumnLayout .fsDiv {
        @include grid-column($columns:12, $collapse:true);
    }
}

@media #{$large-up} {
    .fsThreeColumnLayout .fsDiv {
        @include grid-column($columns:8, $collapse:true);
    }
    .fsFourColumnLayout .fsDiv {
        @include grid-column($columns:6, $collapse:true);
    }
}

// Hero Element
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsElement.hero {
    @include fsElement-full();
}

// Page Content & Layout
// - - - - - - - - - - - - - - - - - - - - - - - - -

#fsPageContent {
    > h1 {
        @include grid-row();
        @include grid-column();
        float: none;
        margin-top: rhythm(2);
        margin-bottom: rhythm(1);
    }
    > .fsLayout {
        margin: 0;
        max-width: none;
        width: auto;
    }
}

// Account Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$account-bar-height: 38px;

#fsAccountBar {
    background-color: $darkergray;
    color: $lightgray;
    height: $account-bar-height;
    > ul > li {
        &:hover, &:focus {
            background-color: #222;
        }
        > a {
            color: $lightgray;
        }
    }
    li > span {
        cursor: pointer;
    }
}
#fsAccountBar .fsAccountBarAvatar {
    height: $account-bar-height;
}
.fsAccountBarMenu {
    &, ul {
        background-color: rgba($white,0.9);
        @include box-shadow( 0 1px 1px rgba(black, 0.3) );
    }
    a, span {
        color: $gray;
    }
    li {
        &:hover, &:focus {
            background-color: #EEE;
            > a, > a > span, > span {
                color: $darkergray;
            }
        }
    }
}
#fsAccountBar .fsAccountBarMenu ul {
    top: 0;
    left: 100%;
}
.fsAccountBarVisible {
    #fsPageWrapper {
        padding-top: 35px;
    }
}

// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

#fsPoweredByFinalsite {
    float: right;
    margin: 1rem;
}

// Admin
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fsElementAddWrapper { clear: both; }