.footer {
    background: $harkergreen;
    &, a {
        color: $white;
    }
}

.footer-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    width: 100%;
    padding: 0;
    .feature-is-playing & {
        display: none; 
    }
}

.footer-legal {
    font-size: rem-calc(12);
    text-align: center;
    @media #{$medium-up} {
        font-size: inherit;
    }
}

.footer-nav-menu {
    &, ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    > li {
        margin-bottom: rhythm(1);
    }
    > li > a {
        font-weight: bold;
    }
    ul li {
        margin: 0.5rem 0;
    }
    a {
        text-decoration: none;
    }
}