// Hide portal link on pubic site
.tickets, .cta {
    display: none !important;
}

// MarComm Award
.marcom-award {
    display: none;

    @media #{$large-up} {
        display: block;
        position: absolute;
        right: 1em;
        bottom: 2em;
        width: 4em;
    }
}

div[data-ps-embed-type] {
    background-color: rgba(0, 0, 0, 0.1);
}

// Widgetic Widgets

.wdgtc-wrap {
    margin-bottom: rhythm(1);
}

.wdgtc-holder {
    min-height: 100% !important;
}
