.marcom-award {
    display: none;

    @media #{$large-up} {
        display: block;
        position: absolute;
        right: 1em;
        bottom: 2em;
        width: 4em;
    }
}

div[data-ps-embed-type] {
    background-color: rgba(0, 0, 0, 0.1);
}
