// Placeholders & Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Vertically Align
%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Sections
// - - - - - - - - - - - - - - - - - - - - - - - - -

.section {
    position: relative;
    background-color: $lightgray;
    padding: rhythm(1.5) 0;
    &.section-expand {
        padding: rhythm(3) 0;
    }
    &.section-expand-top, &:first-child {
        padding-top: rhythm(3);
    }
    &.section-expand-bottom, &:last-child {
        padding-bottom: rhythm(3);
    }
    &.section-collapse {
        padding: 0;
    }
    &.section-collapse-top {
        padding-top: 0;
    }
    &.section-collapse-bottom {
        padding-bottom: 0;
    }
}

.green-bg, .blue-bg, .purple-bg,
.red-bg, .orange-bg, .gold-bg,
.section-feature {
    &.section + .section:not(&) {
        padding-top: rhythm(3);
    }
}

.section.section-feature {
    padding: 0;
    overflow: hidden;
    > .row {
        @extend .row-wide;
        position: relative;
        > .column, > .columns {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.feature-caption {
    @extend .circle;
    @extend %vertical-align;
    @include box-shadow($default-shadow);
    @include text-shadow($default-shadow);
    position: absolute;
    width: rem-calc(360);
    height: rem-calc(360);
    margin: 0 rem-calc(100) 0;
    background-color: rgba($darkgray, 0.9);
    color: $white;
    text-align: center;
    &.position-left {
        left: 0;
    }
    &.position-right {
        right: 0;
    }
    &.green-bg {
        background-color: rgba($green, 0.9);
    }
    &.blue-bg {
        background-color: rgba($blue, 0.9);
    }
    &.purple-bg {
        background-color: rgba($purple, 0.9);
    }
    &.red-bg {
        background-color: rgba($red, 0.9);
    }
    &.orange-bg {
        background-color: rgba($orange, 0.9);
    }
    &.gold-bg {
        background-color: rgba($gold, 0.9);
    }
}

.feature-caption-content {
    @extend %vertical-align;
    position: absolute;
    width: 100%;
    padding: 4rem;
    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
    .button, .button:hover, .button:focus {
        color: $white;
    }
}

.feature-caption-header {
    font-size: $h1-font-size;
    line-height: 1em;
    margin: 0 0 rhythm(1) 0;
    color: $white;
    text-transform: none;
}

// Nav Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$brand-bar-height: rem-calc(48);
$current-page-bar-height: $brand-bar-height;
$harker-logo-square-width: 72px;
$harker-logo-width: 223px;

@mixin nav-bar-icon($content) {
    @include fa-icon();
    content: $content;
    line-height: rhythm(1);
    display: block;
    width: rhythm(1);
    text-align: center;
}

.nav-bar, .nav-bar-wrapper {
    position: relative;
    background-color: $default-bg-color;
}

.nav-bar {
    z-index: 100;
    &.is-stuck {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        @include transition(top 0.25s);
    }
    &.is-stuck.is-collapsed {
        top: -$brand-bar-height;
    }
}

.brand-bar, .current-page-bar {
    position: relative;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    a, span {
        display: block;
        text-decoration: none;
    }
}
.primary-nav, .current-page-nav {
    @include grid-row();
}
.primary-nav-menu, .current-page-menu {
    @include inline-list;
    li {
        margin: 0;
    }
    ul, ul li {
        float: left;
    }
    ul[data-dropdown-content], ul[data-dropdown-content] li {
        float: none;
    }
}

// Brand Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

.brand-bar {
    z-index: 2;
    background-color: $darkharkergreen;
    a, span, & {
        color: $lightgray;
    }
    a, span {
        padding: 0.75rem 0.5rem;
        background-color: $darkharkergreen;
        @include transition(background-color 0.5s);
        &:hover { 
            background-color: $darkerharkergreen; 
        }
        span {
            padding: 0;
        }
    }
    ul[data-dropdown-content] a,
    ul[data-dropdown-content] a:hover {
        background-color: transparent;
    }
}

.primary-nav-menu-home {
    float: left;
}
.primary-nav-menu-secondary {
    float: right;
}
.brand-bar .primary-nav-menu-secondary {
    margin-right: 0.5rem;
}
.brand-bar .primary-nav-menu-sections {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} 

.primary-nav-menu-home {
    width: $harker-logo-square-width;
    height: $brand-bar-height;
    @media #{$large-up} {
        width: $harker-logo-width;
    }
}

.harker-logo {
    width: $harker-logo-square-width;
    border-right: 4px solid $darkerharkergreen;
    @media #{$large-up} { 
        width: $harker-logo-width;
        border-left: 4px solid $darkerharkergreen;
    }
    .nav-bar.is-stuck & {
        position: fixed;
        top: 0;
    }
    a, & {
        background: $harkergreen url(../img/harker-logo-square.png) no-repeat center center;
        text-indent: 120%;
        white-space: nowrap;
        overflow: hidden;
        @media #{$large-up} { 
            background-image: url(../img/harker-logo.png)
        }
    }
    a:hover {
        background-color: $darkharkergreen;
    }
}

.primary-nav-menu-secondary a {
    font-size: rem-calc(24);
    line-height: rhythm(1);
    padding-right: 0.5rem; 
    padding-left: 0.5rem;
    &:before {
        @include fa-icon();
        line-height: rhythm(1);
        display: block;
        width: rhythm(1);
        text-align: center;
    }
}
.menu-item-instagram a:before { content: $fa-var-instagram; }
.menu-item-youtube a:before { content: $fa-var-youtube-square; }
.menu-item-twitter a:before { content: $fa-var-twitter-square; }
.menu-item-facebook a:before { content: $fa-var-facebook-square; }
.menu-item-search a:before { content: $fa-var-search; }
.menu-item-login a:before { content: $fa-var-user; }

.primary-nav-menu-secondary .menu-item-social {
    display: none;
    @media #{$large-up} { 
        display: block;
        visibility: hidden;
        .nav-bar.is-social & {
            visibility: visible;
        }
    }
}

.primary-nav-menu-sections {
    a[href="#more-sections"] {
        // display: none;
    }
    li.active a {
        background-image: url(../img/active-menu-item.png);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}

// Current Page Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

.current-page-bar {
    z-index: 1;
    background-color: rgba($lightgray, 0.9);
    color: $gray;
    font-size: rem-calc(14);
    line-height: rhythm(1);
    // height: $current-page-bar-height;
    // overflow: hidden;
    // border-bottom: 3px solid scale-color($default-bg-color, $lightness: -8%);
    // background-color: $white;
    @include box-shadow( $default-shadow );
    a, span {
        height: $current-page-bar-height;
        padding: 0.75rem 0.5rem 0.5rem;
        @media #{$large-up} {
            padding: 1rem 0.5rem 0.5rem;
            margin-bottom: 0;
        }
    }
}

// .current-page-nav {
//     @include transform( translateX(0) );
//     @include transition(transform 0.25s ease-out);
//     .nav-bar.is-stuck.is-collapsed & {
//         @include transform( translateX($harker-logo-square-width) );
//         @media #{$large-up} { 
//             @include transform( translateX($harker-logo-width) );
//         }
//     }
// }

.current-page-menu-meta {
    float: left;
    margin-left: 0;
    @include transition(margin-left 0.25s ease-out);
    a {
        color: $darkergray;
    }
    .nav-bar.is-stuck.is-collapsed & {
        margin-left: $harker-logo-square-width;
        @media #{$large-up} {
            margin-left: $harker-logo-width;
        }
    }
}

.current-page-hamburger a {
    font-size: rem-calc(13);
    padding-left: 1rem;
    // font-size: rem-calc(24); // big icon
    // padding-left: 1rem;
    // padding-right: 1rem;
    // border-left: 1px solid $silver;
    // border-right: 1px solid $silver;
    // margin-right: 0.5rem;
    &:before {
        @include nav-bar-icon($fa-var-bars);
        width: 1em;
    }
}

.current-page-title {
    text-transform: uppercase;
    a, span, &:after {
        display: inline-block;
    }
    &:after {
        content: "|";
    }
    @media #{$large-up} {
        font-size: rem-calc(24);
        &:after {
            display: none;
        }
    }
}
.current-page-bar .current-page-tagline {
    display: none;
    font-size: 1rem;
    @media #{$large-up} {
        // display: block; // tagline not needed
    }
    .nav-bar.is-stuck & {
        display: none;
    }
}

.current-page-menu-bookmarks {
    li {
        &.active {
            a {
                color: $darkergray;
                border-bottom: 3px solid $blue;
            }
        }
    }
    a {
        color: $gray;
        border-bottom: 3px solid transparent;
        @include transition(color 0.5s, border-bottom 0.5s);
        &:hover, &:focus {
            color: $darkergray;
        }
        @media #{$large-up} {
            font-size: 1rem;
        }
    }
}
.current-page-bar .current-page-menu-bookmarks {
    @media #{$large-up} {
        margin-left: 0.5rem;
    }
    .f-dropdown a {
        font-size: 0.875rem;
    }
}

// Nav Bar Modules
// - - - - - - - - - - - - - - - - - - - - - - - - -

.menu-item-more > a {
    position: relative;
    overflow: hidden;
    span {
        position: absolute;
        top: 0;
        left: 100%;
    }
    &:after {
        @include nav-bar-icon($fa-var-ellipsis-h); // $fa-var-angle-down;
    }
}
.menu-item-more .f-dropdown {
    background-color: rgba($white,0.9);
    margin-top: -6px;
    @include box-shadow( 0 2px 2px -1px rgba(black, 0.2) );
    li {
        &.active {
            a {
                color: $darkergray;
                border-bottom: 3px solid $blue;
            }
        }
    }
    a {
        color: $gray;
        font-size: inherit;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        &:hover, &:focus {
            color: $darkergray;
        }
    }
}

// mmenu (drawer menu)
// - - - - - - - - - - - - - - - - - - - - - - - - -

$mm_backgroundColor: $white;
$mm_borderColor: $default-border-color;
$mm_textColor: $gray;
$mm_highlightedBackgroundColor: $f-dropdown-list-hover-bg;
$mm_fontSize: 16px;
// $mm_btnSize: 48px;
// $mm_padding: 8px;
// $mm_listitemIndent: 0;
@import "jquery.mmenu.all";

.mm-menu.mm-front {
    @include box-shadow(2px 0 10px -2px rgba(black, 0.3));
    z-index: 1000;
}

#mm-blocker {
    background: rgba( 0, 0, 0, 0 );
    transition: background 0.25s ease;
    z-index: 999 !important;
}
.mm-opening #mm-blocker {
    background: rgba( 0, 0, 0, 0.3 );
}

.mm-listview > li {
    border-bottom: 1px solid $default-border-color;
}

.mm-listview > li:not(.mm-divider):after {
    border-bottom: none;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), 
.mm-menu .mm-listview > li.mm-selected > span {
    color: $darkergray;
    background: $f-dropdown-list-hover-bg;
}
.mm-listview > li > a, 
.mm-listview > li > span {
    &:hover {
        color: $darkergray;
        background: $f-dropdown-list-hover-bg;
    }
}

.mm-menu .mm-navbar > a {
    color: $darkgray;
}

// Intro
// - - - - - - - - - - - - - - - - - - - - - - - - -

.intro {
    font-size: rem-calc(18);
    font-weight: 100;
    color: #333;
}

@media #{$medium-up} {
    .intro {
        font-size: rem-calc(22);
    }
}

// Vertical Rhythm Helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -

@for $i from 0 through 4 {
    .rhythm-padding-#{$i} {
        padding-top: rhythm($i);
        padding-bottom: rhythm($i);
    }
    .rhythm-margin-#{$i} {
        margin-top: rhythm($i);
        margin-bottom: rhythm($i);
    }
}

.rhythm-padding-1-5 {
    padding-top: rhythm(1.5);
    padding-bottom: rhythm(1.5);
}

.rhythm-margin-1-5 {
    margin-top: rhythm(1.5);
    margin-bottom: rhythm(1.5);
}

// Grid Helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -

.column.column-collapse, .columns.columns-collapse {
    padding-right: 0;
    padding-left: 0;
}

.row-wide {
    @include grid-row;
    max-width: 90rem;
}

.row-fill {
    @include grid-row;
    max-width: none;
}

[class*="block-grid-"] {
    margin-bottom: rhythm(1);
}

// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.button-outline,
.button-outline:hover, .button-outline:focus,
.button-outline-invert,
.button-outline-invert:hover, .button-outline-invert:focus {
    background: transparent;
    font-weight: 100;
    font-size: rem-calc(22);
}

.button-outline,
.button-outline:hover, .button-outline:focus {
    border: 1px solid $oil;
    color: $oil;
}

.button-outline-invert,
.button-outline-invert:hover, .button-outline-invert:focus {
    border: 1px solid $white;
    color: $white;
}

// Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

// anchors
.accordion .accordion-navigation > a, .accordion dd > a {
    position: relative;
    // overlay dropshadow on content
    text-decoration: none;
    text-transform: uppercase;
    line-height: rhythm(1);
    padding-top: $accordion-navigation-padding + rem-calc(2);
    // vertically center text
    padding-bottom: $accordion-navigation-padding - rem-calc(2);
    @include box-shadow($default-shadow);
    @include transition(background-color 0.25s, color 0.25s);
    &:before {
        @include fa-icon;
        content: $fa-var-ellipsis-v;
        color: inherit;
        float: right;
    }
    .accordion & {
        // child accordion anchors
        text-transform: none;
        background: none;
        color: $default-link-font-color;
        font-size: 1rem;
        padding: 0;
        @include box-shadow(none);
        &:hover, &:focus {
            color: $anchor-font-color-hover;
        }
        &:before {
            @include fa-icon;
            content: $fa-var-chevron-down;
            color: inherit;
            float: right;
        }
    }
}

.accordion .accordion-navigation.active > a,
.accordion dd.active > a {
    @include box-shadow(none);
    .accordion &:before {
        content: $fa-var-chevron-up;
    }
}

.accordion .accordion-navigation {
    position: relative;
}

.accordion-direct-link {
    top: 0;
    left: 0;
    bottom: 0;
    // stretch height of parent container
    z-index: 1;
    width: rem-calc(48);
    border-right: 1px solid rgba($white, 0.5);
    margin-right: $column-gutter / 2;
    text-align: center;
    [class*="block-grid-"] > li & {
        left: $block-grid-default-spacing / 2;
        bottom: $block-grid-default-spacing;
    }
}

.accordion .accordion-navigation > .accordion-direct-link {
    position: absolute;
    & + a {
        padding-left: rem-calc(48 + 12);
    }
    &:before {
        display: none;
        // hide vertical ellipses
   
    }
}

// content
.accordion .accordion-navigation > .content, .accordion dd > .content {
    border: 1px solid $default-border-color;
    border-top: none;
    line-height: 1;
    .accordion & {
        padding: 0;
        margin: rhythm(0.5) 0;
        border: none;
    }
}

.accordion .accordion-navigation > .content.active,
.accordion dd > .content.active {
    position: relative;
    z-index: 1;
    // overlap .accordion-direct-link ;P
    @include box-shadow($default-shadow);
    .accordion & {
        @include box-shadow(none);
    }
}

.accordion .content > *:first-child {
    margin-top: 0;
}

.accordion .content > *:last-child {
    margin-bottom: 0;
}

.accordion .content > ul {
    list-style: none;
    margin-left: -$accordion-content-padding;
    margin-right: -$accordion-content-padding;
    margin-top: 0;
    margin-bottom: $default-bottom-margin;
    border-top: 1px solid $default-border-color;
    border-bottom: 1px solid $default-border-color;
    li {
        padding: $accordion-content-padding;
        border-top: 1px solid $default-border-color;
        &:first-child {
            border-top: none;
        }
    }
    &:first-child {
        border-top: none;
        li:first-child {
            padding-top: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        li:last-child {
            padding-bottom: 0;
        }
    }
}

.accordion .content .button {
    display: block;
    background: $secondary-color;
    color: $default-font-color;
    border: 1px solid $default-border-color;
    line-height: rhythm(1);
    padding-top: rhythm(0.25);
    padding-bottom: rhythm(0.25);
    margin: 0;
    @include transition(background-color 0.25s);
    &:hover, &:focus {
        background-color: $secondary-button-bg-hover;
        color: $default-font-color;
    }
}

// inverted colors
.accordion-invert {
    .accordion-navigation > a, dd > a,
    .accordion-navigation.active > a, dd.active > a {
        background-color: $secondary-color;
        color: $anchor-font-color;
        &:hover, &:focus {
            background-color: $secondary-button-bg-hover;
            color: $anchor-font-color-hover;
        }
    }
    .accordion-navigation > .content, dd > .content {
        color: $default-font-color;
        &.active {
            border-top: 1px solid $default-border-color;
        }
    }
    .accordion {
        .accordion-navigation > .content, dd > .content {
            &.active {
                border-top: none;
            }
        }
    }
    .accordion-direct-link {
        border-right: 1px solid $default-border-color;
    }
}

.stat {
    background-color: $white;
    padding: 2em;
    @include box-shadow($default-shadow);
    text-align: center;
}

.stat-measure, .stat-desc {
    display: block;
    font-weight: bold;
    line-height: 1;
}

.stat-measure {
    font-size: rem-calc(64);
    color: $green;
    margin-bottom: rhythm(1);
}

.stat-desc {
    font-size: rem-calc(24);
    color: $gray;
}

.feedburnerFeedBlock {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            margin-bottom: rhythm(1);
            > div {
                margin: rhythm(0.5) 0;
            }
        }
    }
    .headline {
        font-size: rhythm(1);
        line-height: 1;
        a {
            text-decoration: none;
        }
        a:hover, a:focus {
            text-decoration: underline;
        }
    }
    .date {
        margin-bottom: rhythm(0.5);
    }
}

.wp-feed {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wp-article-title a {
    font-weight: normal;
}

// Hero Section
// - - - - - - - - - - - - - - - - - - - - - - - - -

.hero {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    .is-resized & {
        height: 100%;
    }
}

.hero-text > .row-fill {
    margin-top: rhythm(8);
    margin-bottom: rhythm(8);
    .csstransforms .is-resized & {
        margin-top: 0;
        margin-bottom: 0;
        @extend %vertical-align;
    }
}

.hero-img {
    position: relative;
    z-index: -3;
    background-color: $harkergreen; // $oil;
    .is-resized & > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
    }
    .is-resized & {
        width: 100%;
        height: 100%;
    }
}

.hero-bg {
    position: absolute;
    top: 0; left: 0;
    z-index: -4;
    width: 100%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 720px;
    }
    &.is-playing {
        z-index: -2;
    }
    .is-resized &, .is-resized & > iframe {
        height: 100%;
    }
}

.hero-feature {
    position: absolute !important; // overriding wistia's inline styles
    top: 0; left: 0;
    z-index: -5;
    width: 100%;
    &.is-playing {
        z-index: 1;
    }
    .is-resized & {
        height: 100%;
    }
}

.hero.is-resized .hero-fixed {
    position: fixed !important; // overriding wistia's inline styles
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero #fs-wistia-exit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(black, 0.5);
    color: $white;
    padding: 0.75rem 1rem;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

// Atomic Styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

.hide { display: none !important; }

// Borders
.border-bottom {
    border-bottom: 1px solid $default-border-color;
}

// Background Colors
.green-bg {
    background-color: $green;
}

.blue-bg {
    background-color: $blue;
}

.purple-bg {
    background-color: $purple;
}

.red-bg {
    background-color: $red;
}

.orange-bg {
    background-color: $orange;
}

.gold-bg {
    background-color: $gold;
}

.green-bg, .blue-bg, .purple-bg, .red-bg, .orange-bg {
    color: $white;
    h1, h2, h3, h4, h5, h6, code, a {
        color: $white;
    }
    a:hover, a:focus {
        color: scale-color($white, $lightness: -3%);
    }
    a.button.secondary, a.button.info {
        color: $oil;
    }
}

// Text Colors
.green-txt {
    color: $green;
}

.blue-txt {
    color: $blue;
}

.purple-txt {
    color: $purple;
}

.red-txt {
    color: $red;
}

.orange-txt {
    color: $orange;
}

.gold-txt {
    color: $gold;
}

// Circles
.circle {
    @include border-radius(50%);
}

// Floaters
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// CSS3 Columns
@mixin css3-columns($columns: false) {
    @if $columns {
        @include column-width(grid-calc($columns, $total-columns));
        @include column-count($columns);
        @include column-gap($column-gutter);
    }
}

@mixin css3-columns-html-class($size) {
    @for $i from 1 through $total-columns {
        .#{$size}-text-columns-#{$i} {
            @include css3-columns($i);
        }
    }
}

@media #{$small-up} {
    @include css3-columns-html-class($size: small);
}

@media #{$medium-up} {
    @include css3-columns-html-class($size: medium);
}

@media #{$large-up} {
    @include css3-columns-html-class($size: large);
}
