
.panel {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: rhythm(0.5);
    }

    .button.secondary {
        border-color: #ddd;
    }

    > :last-child, > :last-child :last-child {
        margin-bottom: 0;
    }
}

.panel, .panel.callout {
    color: $darkgray;
}

.panel-outline, .panel-outline-invert {
    background-color: transparent;
}

.panel-outline {
    border-color: $oil;
}

.panel-outline-invert {
    border-color: $white;
    p {
        color: $white;
    }
}
