// Stats
// - - - - - - - - - - - - - - - - - - - - - - - - -

.stat {
    background-color: $white;
    padding: 2em;
    @include box-shadow($default-shadow);
    text-align: center;
}

.stat-measure, .stat-desc {
    display: block;
    font-weight: bold;
}

.stat-measure {
    font-size: rem-calc(64);
    color: $green;
    line-height: 1;
    margin-bottom: 1rem;
}

.stat-desc {
    font-size: rem-calc(24);
    color: $gray;
    line-height: 1.25;
}